html {
    width: 786px;
    height: 411px;
    overflow: hidden;
    /* background-color: #151D26;*/
    background-color: black;
    color: white;
    /*   border: 2px solid white;*/
}

body {
    background-image: url(../img/revamped.png);
    background-size: contain;
    width: 100%;
    height: 100%;
}

.main {
    height: 450px;
    width: 800px;
    background-color: #282828;
    float:left;
}


#updates {
    position: absolute;
    left: 160px;
    top: 160px;
    width: 320px;
    height: 180px;
    color: black;
}

#updates h2 {
    color: black;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px 5px 10px 5px;
}

    #updates ul {
        list-style-type: none;
        color: black;
        font-family: Tahoma;
        font-size: 14px;
        width: 330px;
    }

        #updates ul li {
            padding: 3px 0;
            white-space: nowrap;
        }

            #updates ul li a {
                text-decoration: none;
                color: black;
                width: 250px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
            }

                #updates ul li a:hover {
                    text-decoration: underline;
                }

                #updates ul li span {
                    float: right;
                }

#lomcn-button {
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 250px;
    height: 70px;
    display: block;
    cursor: pointer;
    z-index: 10;
    /* Transparent background - invisible but clickable */
    background: transparent;
}

#lomcn-button:hover {
    /* Optional: add a subtle hover effect */
    opacity: 0.8;
}


/*
.col {
    width: 200px;
    height: 411px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    float: left;
}

    .col ul {
        background-color: #1e1e1e
    }

    .col ul li {
        width: 100%;
        height: 67.5px;
        border-top: 1px solid #262626;
        border-bottom: 1px solid black;
    }

        .col ul li:hover {
            background-color: #151515;
            cursor: pointer;
        }*/